<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="theme-color" content="#e8f0fe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- logo font and button -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <!-- use contact class styles-->
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <!-- bootstrap links --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/img/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="robots" content="noindex, nofollow" >
    <title>Luminoustrip-About Us</title>
</head>
<body>
    <div class="container">
        <br>
        <h1 id="logo">
            luminoustrip
        </h1>
    </div>
    <hr id="line">
    <div class="container">
        <p style="font-size: 18px;">
            From all the travel sites in the world, we find the best travel service providers for you.
            You can buy the cheapest and best plane tickets from our site and you can also book the best hotels
            through our site.
            In addition to airline and hotel services, you can find other travel services such as tours, car rental, 
            etc. on our site.
            We take you to the most reputable travel sites and receive commissions from our partners.
            Luminoustrip finds the best and fastest travel service providers for you.
            <a href="/contact_us">contact with us</a>
        </p>
    </div>
    <footer class="footer fixed-bottom" style="color: #45526E;">
        <div class="py-4" style="text-align: center;" id="footer">
            <script>
                let date = new Date().getFullYear()
                document.getElementById('footer').innerHTML = `<span>&copy; ${date} Copyright - luminoustrip</span>`
            </script>
        </div>
    </footer>
    <script src="/js/service.js"></script>
</body>
</html>