<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="theme-color" content="#e8f0fe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
    crossorigin="anonymous"></script>
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <!-- title -->
    <link rel="shortcut icon" type="image/png" href="/img/favicon-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/img/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="robots" content="noindex, nofollow" >
    <title>Luminoustrip-Join Us</title>
</head>
<body>
    <div class="container">
      <div class="row" style="justify-content: center;">
        <div class="col-fixed" style="padding-top: 6%;">
          <div class="card" style="width: 18rem; border-color: #45526E;">
            <img src="/img/full_logo_1.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Join Us</h5>
              <p class="card-text">Get the greatest and private offers, latest news and updates from luminoustrip.</p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="links nav-link active" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="true">Email</a>
                </li>
                <li class="nav-item">
                  <a class="links nav-link" id="mobile-tab" data-toggle="tab" href="#mobile" role="tab" aria-controls="mobile" aria-selected="true">Mobile</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="email" role="tabpanel" aria-labelledby="email-tab">
                  <form action="/add_me" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                      <label style="padding-top: 4px;">Email address</label>
                      <input type="email" name="user_email" class="form-control" placeholder="name@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                      <div class="invalid-feedback">
                        Please Enter Valid Email.
                      </div>  
                    </div>
                    <button class="btn homeN" type="submit">Join Us</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="mobile" role="tabpanel" aria-labelledby="mobile-tab">
                  <form action="/add_me" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                      <label style="padding-top: 4px;">Mobile Number</label>
                      <input type="tel" name="user_mobile" class="form-control" placeholder="+1-000-000-0000" pattern="^\+[0-9]?[0-9](\d[0-9]{9})$" required>
                      <div class="invalid-feedback">
                        Please Enter Valid Mobile Number.
                      </div>  
                    </div>
                    <button class="btn homeN" type="submit">Join Us</button>
                  </form>
                </div>
              </div>
              <script>
              // disabling form submissions if there are invalid fields
              (function() {
                'use strict';
                window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
                    }, false);
                  });
                }, false);
              })();
              </script>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer" style="text-align: center; color: #45526E; padding: 4px;">
        <div>
          <span id="footer_copyright" class="bold"></span>
        </div>
      </footer>
      <script>
        let date = new Date().getFullYear();
        document.getElementById('footer_copyright').innerHTML = "&copy; " + date + " luminoustrip";
      </script>
  </div>
  <script src="/js/service.js"></script>
</body>
</html>