<div class="form_group">
    <div class="Calender_dropdown calendar-dropdown">
        <div class="form-calendar-input-container calendar_dropdown_toggle_bnt invalid_input_container">
            <span class="material-icons form-calendar-icon">
                date_range
            </span>
            <input type="text" class="form-control form-calendar-input calendar_input" placeholder="Departure date"
                readonly="true" name="depart_date" />
        </div>
        <div class="calendar_dropdown_menu form-calendar-dropdown-menu">
            <div class="cal-w">
                <div class="position-relative">
                    <div class="cal-pn-btn-container mt-3 px-3">
                        <button class="btn cal-pn-btn previous_month_btn" hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button class="next_month_btn btn cal-pn-btn" style="right: 1rem;">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="cal-root cal_root"></div>
                <div class="mt-3 d-flex">
                    <div class="ml-auto">
                        <button class="cal_reset_btn btn cal-reset-btn">
                            Reset
                        </button>
                        <button class="btn btn-outline-primary cal_done_btn">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>