<div class="d-flex transfer_locations_container">
    <div class="col p-0">
        {{>locationInput flight_left_input_context}}
    </div>
    <div class="form-transfer-btn-container">
        <button class="btn form-transfer-btn transfer_locations_btn">
            <i class="fas fa-exchange-alt"></i>
        </button>
    </div>
    <div class="col p-0">
        {{>locationInput flight_right_input_context}}
    </div>
</div>