<header>
    <div class="container">
        <nav class="navbar py-2">
            <a class="navbar-brand" href="/">
                <img class="logo" src="/img/apple-touch-icon.png" alt="brand" style="width: 45px; height: 45px;" />
                <b style="font-size: 15px; margin-left: 1rem; color: #212529;;">Luminoustrip</b>
            </a>

            <div class="ml-auto navbar-link">
                <a href="/joinus">
                    Join us
                </a>
            </div>
        </nav>
    </div>
</header>