<div id="mob_location_input" class="mob-dropdown-model mob_autocomplete_model">
    <div class="v-flex h-100">
        <div class="model_content_container mob-model-content-container">
            <div class="v-flex h-100">
                <div class="mob-model-header border-bottom">
                    <span class="mob-model-title my-auto model_title"></span>
                    <div class="mob-model-header-close-button-container my-auto">
                        <div class="d-flex h-100">
                            <button class="btn my-auto model_close_bnt mob-multi-city-close-btn">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mob-model-header-close-button-container my-auto">
                        <div class="d-flex h-100">
                            <button class="btn my-auto autocomplete_model_close_bnt mob-multi-city-close-btn">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mob-autocomplete-model-input model_input_container">
                    <div class="mob-input-icon-container align-item-center">
                        <div class="d-flex h-100">
                            <span class="material-icons mob-input-icon autocomplete_set_icon">
                                search
                            </span>
                        </div>
                    </div>
                    <div class="mob-input-spinner form_input_spinner">
                        <div class="d-flex h-100">
                            <div class="spinner-border text-primary my-auto" role="status">
                            </div>
                        </div>
                    </div>
                    <input class="form-control mob-input model_input" spellcheck="false" type="text" />
                </div>
                <div class="mob-model-content mob_autocomplete_model_content">
                </div>
            </div>
        </div>
    </div>
</div>