<header>
    <nav class="navbar mob-header-nav">
        <a class="navbar-brand" href="/">
            <img src="/img/apple-touch-icon.png" alt="brand" style="height: 35px; width: 35px;" />
            <b style="font-size: 0.9375rem; margin-left: 0.75rem; color: #212529;">Luminoustrip</b>
        </a>

        <div class="ml-auto navbar-link">
            <a href="/joinus">
                Join us
            </a>
        </div>
    </nav>
</header>