<div class="mob-calendar-container calendar_dropdown_toggle_bnt">
    <span class="material-icons mob-calendar-icon">
        date_range
    </span>
    <input type="text" class="form-control mob-calendar-input calendar_input" placeholder="Departure date"
        readonly="true" name="depart_date" value="" />
</div>