<div class="mob_transfer">
    <div class="input_container">
        {{>mob_location_input flight_left_input_context}}
    </div>
    <div class="d-flex px-3">
        <button class="btn border mob-transfer-btn transfer_btn">
            <i class="fas fa-exchange-alt"></i>
        </button>
    </div>
    <div class="mb-3 input_container">
        {{>mob_location_input flight_right_input_context}}
    </div>
</div>